.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-container {
  width: 50vw;
  margin-top: 10px;
  padding: 0px;
}

.logo-image {
  margin: 10px;
  height: 180px;
  width: 180px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .slick-container {
    width: 60vw;
  }
  .logo-image {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .logo-image {
    margin: 10px;
    height: 100px;
    width: 100px;
  }
  .slick-container {
    width: 70vw;
    margin-top: 10px;
    padding: 0px;
  }
}
.trending-now-container {
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
}

.slick-prev:before,
.slick-next:before {
  color: white;
}
.trending-heading {
  color: white;
  align-self: flex-start;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .trending-heading {
    font-size: 14px;
  }
}
